* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

header {
  position: relative;
}

.header_1 {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  border-bottom: 1px solid black;
}

.nav_1 {
  width: 80%;
  padding: 10px 0;
  content: "";
  display: table;
  clear: both;
  background-color: lightgrey;
}

.nav_1_left {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav_1_left div {
  display: inline-block;
}

.nav_1_left a {
  text-decoration: none;
  color: black;
}

#globe {
  width: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  padding-top: 2px;
}

#lang_select {
  font-size: 15px;
  font-weight: bold;
  margin-left: 25px;
}

#vertical_row {
  margin-left: 10px;
}

#arrow_lang_select, #vertical_row, #contact {
  font-weight: bold;
}

#vertical_row, #contact {
  margin-left: 20px;
}

.nav_1_right ul li {
  display: inline-block;
  margin-top: 20px;
  padding-right: 20px;
}

.nav_1_left {
  float: left;
}

.nav_1_right {
  float: right;
}

.nav_1_right ul li a {
  text-decoration: none;
}

#lnk_2, #lnk_3 {
  border: 1px solid #ff4500;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

#lnk_2 {
  color: #ff4500;
}

#lnk_3 {
  color: white;
  background-color: #ff4500;
}

.header_2 {
  width: 100%;
  margin-top: 5em;
}

.nav_2 {
  width: 80%;
  padding: 10px 0;
  content: "";
  display: table;
  clear: both;
}

.nav_2_left img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav_2_right ul li {
  display: inline-block;
  margin-top: 20px;
  padding-right: 20px;
}

.nav_2_right ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav_2_left {
  float: left;
}

.nav_2_right {
  float: right;
}

.header_3 {
  width: 100%;
  height: 75vh;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header_banner {
  position: relative;
  width: 80%;
}

.title {
  position: absolute;
  top: 0.5em;
  left: 0;
  font-size: 80px;
  width: 50%;
}

.header_banner p {
  position: absolute;
  top: 18em;
  left: 0;
  font-weight: bold;
  color: grey;
  width: 40%;
}

.header_banner_btn a {
  position: absolute;
  top: 25em;
  left: 0;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ff4500;
  border-radius: 5px;
  background-color: #ff4500;
  color: white;
  padding: 20px 40px;
}

.header_banner span {
  position: absolute;
  top: 40em;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.bottom_banner {
  width: 100%;
  height: 110px;
  background-color: lightblue;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0;
}

.main_1 {
  background-color: lightgrey;
}

.img_container_section_1 {
  position: relative;
  height: 300px;
}

.img_container_section_1 img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 2%;
  margin-top: 30px;
}

.title_container_section_1 h1 {
  text-align: center;
  font-size: 40px;
}

.info_container_section_1 {
  text-align: center;
  font-weight: bold;
  color: grey;
  margin-top: 20px;
}

.top_box {
  content: "";
  display: table;
  clear: both;
  width: 80%;
  margin-top: 76px;
  padding: 60px 0;
  background-color: white;
  border-radius: 5px;
}

.card_button_container, .info_top_box {
  float: left;
}

.card_button_container {
  width: 25%;
}

.card_container, .button_container {
  margin-left: 100px;
}

.card_container {
  margin-left: 100px;
}

.button_container {
  text-align: center;
  background-color: #ff4500;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.button_container a {
  text-decoration: none;
  color: white;
}

.info_top_box {
  width: 50%;
  margin-left: 300px;
}

.top_box_title, .top_box_description, .top_box_features {
  margin-top: 20px;
  margin-bottom: 50px;
}

.top_box_description {
  font-weight: bold;
  color: grey;
}

.top_box_features {
  text-transform: uppercase;
}

.check {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ff4500;
  border-radius: 50%;
  background-color: #ff4500;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

.features_item_top_box ul li {
  list-style: none;
  display: inline-block;
  padding-right: 60px;
  font-weight: bold;
  color: grey;
}

.bottom_box {
  width: 80%;
  content: "";
  display: table;
  clear: both;
}

.left_box, .center_box, .right_box {
  float: left;
  background-color: white;
}

.left_box, .center_box, .right_box {
  width: 30%;
  margin-top: 76px;
  margin-bottom: 76px;
  border-radius: 5px;
}

.center_box {
  margin-left: 76px;
  margin-right: 76px;
}

.left_card_container, .center_card_container, .right_card_container {
  width: 33.333%;
  margin-top: 50px;
}

.center_card_container img {
  width: 120%;
}

.left_box_title, .center_box_title, .right_box_title {
  text-align: center;
}

.left_box_title {
  margin-top: 40px;
}

.center_box_title {
  margin-top: 35px;
}

.right_box_title {
  margin-top: 25px;
}

.left_box_info, .center_box_info, .right_box_info {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  width: 60%;
  color: grey;
}

hr {
  border: 2px solid grey;
}

#left_hr {
  margin-top: 52px;
}

#center_hr {
  margin-top: 63px;
}

#right_hr {
  margin-top: 50px;
}

.left_box_features h4, .center_box_features h4, .right_box_features h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
}

.left_box_features ul li, .center_box_features ul li, .right_box_features ul li {
  list-style: none;
  margin-left: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  color: grey;
}

.button {
  text-align: center;
  border: 1px solid #ff4500;
  border-radius: 5px;
  background-color: #ff4500;
  margin: 50px 100px 30px;
  padding: 20px;
}

.button a {
  text-decoration: none;
  color: white;
}

.top_box, .left_box, .center_box, .right_box {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.main_2 {
  background: linear-gradient(to right, #86c5da, #90eebf);
}

.main_2_container {
  width: 80%;
}

.main_2_container_title, .main_2_container_info {
  padding: 40px 0;
  color: white;
  text-align: center;
}

.main_2_container_info {
  margin-bottom: 60px;
}

.main_2_container_title, .main_2_container_info {
  font-size: 20px;
}

.main_2_container_table {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 80px;
}

.box_1, .box_2, .box_3, .box_4, .box_5, .box_6, .box_7, .box_8 {
  width: 25%;
  float: left;
  text-align: center;
  padding: 50px 80px;
  border: 1px solid white;
  color: white;
}

.box_1, .box_2, .box_3, .box_4 {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.box_5, .box_6, .box_7, .box_8 {
  border-bottom: none;
  border-left: none;
}

.box_4, .box_8 {
  border-right: none;
}

.main_3 {
  padding-bottom: 60px;
}

.main_3_container {
  position: relative;
  width: 80%;
  content: "";
  display: table;
  clear: both;
  background-color: white;
}

.main_3_container_box_1 {
  width: 30%;
}

.main_3_container_box_2 {
  width: 70%;
  padding-top: 30px;
}

.main_3_container_box_1, .main_3_container_box_2 {
  float: left;
}

.main_3_container_box_1, .main_3_container_box_2 {
  text-align: center;
}

.main_3_container_box_1_top h1 {
  font-size: 60px;
  padding-top: 60px;
}

.main_3_container_box_1_bottom p {
  width: 40%;
  padding-bottom: 60px;
  margin-top: 30px;
  font-weight: bold;
  color: grey;
}

.main_3_container_box_1_bottom strong {
  color: black;
}

.main_3_container_box_1_title_content h1, .main_3_container_box_1_title_description p {
  text-align: left;
}

.main_3_container_box_1_title_content h1 {
  padding-top: 60px;
}

.main_3_container_box_1_title_description p {
  padding-top: 50px;
  font-weight: bold;
  color: grey;
}

.main_3_container_box_1 {
  position: relative;
}

.main_3_button {
  position: absolute;
  left: 0;
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #ff4500;
  border-radius: 5px;
  background-color: #ff4500;
  margin-top: 50px;
}

.main_3_button a {
  text-decoration: none;
  color: white;
}

.main_3_container_box_2 div {
  display: inline-block;
}

.brand_container {
  height: 650px;
  position: relative;
}

.brand {
  width: 20%;
  padding: 20px;
}

.brand img {
  width: 100%;
}

#brand_6, #brand_8 {
  position: relative;
}

#brand_6 img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#brand_8 img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonial {
  position: absolute;
  right: 0;
  bottom: 0;
}

.testimonial img {
  width: 50%;
}

footer {
  background-color: #3d468b;
}

.footer_container_1 {
  position: relative;
  width: 80%;
  height: 440px;
  content: "";
  display: table;
  clear: both;
}

.footer_container_1 div {
  width: 25%;
  float: left;
}

.footer_container_1 h4 {
  padding-top: 50px;
  color: white;
}

.footer_container_1 ul {
  margin-top: 50px;
}

.footer_container_1 ul li {
  list-style: none;
  font-weight: bold;
  color: lightgrey;
  padding-bottom: 20px;
}

.col_4 ul li:last-child {
  margin-top: 30px;
}

.col_4 ul li a:last-child {
  text-decoration: none;
  color: grey;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.social_reference {
  position: absolute;
  right: 0;
  bottom: 0;
}

.social_reference a i {
  color: white;
  padding-right: 30px;
}

.footer_container_2 {
  width: 80%;
  padding-top: 60px;
}

.languages ul {
  list-style: none;
  text-align: center;
  padding-bottom: 30px;
}

.languages ul li {
  display: inline-block;
  padding-right: 30px;
}

.languages ul li a {
  text-decoration: none;
  font-weight: bold;
  color: lightgrey;
}

.footer_container_3 {
  width: 80%;
  position: relative;
  content: "";
  display: table;
  clear: both;
  padding: 30px 0;
}

.footer_container_3_box_right {
  float: right;
  position: absolute;
  right: 0;
  bottom: 30px;
}

.copyright {
  font-weight: bold;
  color: white;
}

.footer_container_3_box_right a {
  padding-left: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
